[submodule "starter-nextjs-theme"]
	path = starter-nextjs-theme
	url = git@github.com:stackbit-themes/starter-nextjs-theme.git
[submodule "nextjs-starter"]
	path = nextjs-starter
	url = git@github.com:stackbit/nextjs-starter.git
[submodule "small-business-nextjs-theme"]
	path = small-business-nextjs-theme
	url = git@github.com:stackbit-themes/small-business-nextjs-theme.git
