:root {
  --color-white: #ffffff;
  --color-black: #02001d;
  --color-gray-100: #f3f4f6;
  --color-gray-500: #75747d;
  --color-blue: #4c57c5;
  --color-yellow: #ffde00;

  font-size: 16px;
}

html,
body {
  background-color: var(--color-gray-100);
  color: var(--color-black);
  font-family: "Helvetica Neue",sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height: 1.4;
  margin-bottom: 1rem;
}

* {
  box-sizing: border-box;
}

/* --- Layout --- */

.outer {
  padding-left: 3vw;
  padding-right: 3vw;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
}

.small-margin {
  margin: 1vw;
}

/* --- Footer --- */
.footer {
  margin-top: 3rem;
}

.footer-container {
  border-top: 1px solid var(--color-gray-500);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.footer-content a {
  border-bottom: 1px solid var(--color-blue);
  color: var(--color-blue);
}

/* --- HeroSection --- */

.hero {
  background-color: var(--color-black);
  background-image: url("/bg.svg");
  background-repeat: repeat;
  color: var(--color-gray-100);
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.hero-heading {
  font-size: 3rem;
}

@media (min-width: 601px) {
  .hero-heading {
    font-size: 4rem;
  }
}

.hero-subheading {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.hero-subheading a {
  border-bottom: 1px solid var(--color-white);
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* --- CardGrid --- */

.card-grid {
  padding-bottom: 3rem;
  padding-top: 3rem;
  position: relative;
  z-index: 1;
}

.card-grid-heading {
  font-size: 2.5rem;
}

.card-grid-subheading {
  font-size: 1.125rem;
}

.card-grid-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  margin-top: 3rem;
}

@media (min-width: 601px) {
  .card-grid-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* --- Card --- */

.card {
  border: 1px solid var(--color-blue);
  padding: 1.5rem 2rem;
  position: relative;
  transition: all 0.35s ease;
}

.card:hover {
  border-color: var(--color-blue);
  color: var(--color-blue);
}

.card:before {
  border: 1px solid var(--color-blue);
  content: "";
  height: 100%;
  left: -1px;
  position: absolute;
  top: -1px;
  transform: translate(0,0);
  transition: all 0.35s ease;
  width: 100%;
  z-index: -1;
}

.card:hover:before {
  transform: translate(0.33333em, 0.33333em);
}

.card-heading {
  font-size: 1.5rem;
}

/* --- Button --- */

.button {
  background-color: var(--color-yellow);
  border: 0.1rem solid var(--color-yellow);
  border-radius: 0.2rem;
  color: var(--color-black);
  display: inline-block;
  font-size: 1.125rem;
  padding: 1rem 1.5rem;
  transition: all 0.35s ease;
}

.button.theme-secondary {
  background-color: transparent;
  border-color: var(--color-white);
  color: var(--color-white);
}

.button:hover {
  opacity: 0.85;
}
