@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    Tweak Algolia InstantSearch classes
*/

ul.ais-Hits-list {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}

@media (max-width: 640px) {
    ul.ais-Hits-list {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .stat:nth-child(n + 2) {
        visibility: hidden;
    }

    .stats {
        overflow: hidden;
    }
}

@media (min-width: 641px) {
    ul.ais-Hits-list {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .stat:nth-child(n + 3) {
        visibility: hidden;
    }

    .stats {
        overflow: hidden;
    }
}

@media (min-width: 1200px) {
    ul.ais-Hits-list {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .stat:nth-child(n + 1) {
        visibility: visible;
    }
}

form.ais-SearchBox-form {
    background-color: transparent;
}

input.ais-SearchBox-input {
    box-shadow: none;
    border-radius: 8px;
}

/* Make the li "wrapper" of hits invisible, so we can style it fully by its contents */
li.ais-Hits-item,
li.ais-Hits-item:first-of-type {
    border-color: transparent;
    border-radius: 0;
    padding: 0;
    box-shadow: none;
    background-color: transparent;
}

/*
    Tweak Markdown appearance (very basic)
*/

.theme-details-markdown p > code,
.theme-details-markdown li > code {
    font-size: 85%;
    font-family: Consolas, Menlo, Courier, monospace !important;
    background-color: rgba(135, 131, 120, 0.15);
    border-radius: 3px;
    padding: 0.2em 0.4em;
}

.theme-details-markdown pre {
    font-size: 85%;
    background-color: rgba(135, 131, 120, 0.15);
    border-radius: 4px;
    padding: 8px;
    margin: 8px 0;
}

.theme-details-markdown pre > code {
    font-size: 1.1em;
    font-family: 'Roboto Mono', Menlo, Monaco, consolas, monospace !important;
}

.theme-details-markdown blockquote {
    background-color: #f7f7f6;
    padding: 1px 20px;
}

.theme-details-markdown ul,
ol {
    list-style: auto;
    list-style-position: inside;
}

.theme-details-markdown li {
    line-height: 1.9;
}

.theme-details-markdown li::marker {
    margin-left: 5px;
}

.theme-details-markdown h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

.theme-details-markdown h1 {
    font-size: 1.7em;
    margin-top: 14px;
    margin-bottom: 6px;
}

.theme-details-markdown h2 {
    font-size: 1.3em;
    margin-top: 12px;
    margin-bottom: 4px;
}

.theme-details-markdown h3 {
    font-size: 1.2em;
    margin-top: 12px;
    margin-bottom: 4px;
}
